@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
}

/* :root {
  --primary-color: #020b17;
  --secondary-color: #fb0505;
  --font-size-base: 16px;
  --background-color-base: #f1f1f1;
  --letter-spacing-base: 0.25px;
  --line-height-base: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-base);
  background-color: var(--background-color-base);
} */
