#menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  color: #444;
  padding: 20px;
}

#logo {
  height: 20px;
}

#menu-navigation .nav-link {
  display: flex;
  gap: 15px;
}

#menu-navigation .nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
  transition: 300ms ease-in-out;
}

#menu-navigation .nav-link a.active {
  color: rgb(34, 34, 146);
  font-weight: bold;
}

#menu-navigation .nav-link a:hover {
  transform: scale(0.9);
}
